/* Navbar */

.navbar{
    position: relative;
    z-index: 1;
}
.navbar-brand{
    font-size: 32px;
    font-family: 'Viga', sans-serif;
}

.nav-link{
    font-family: 'Poppins', sans-serif;
}

/* Jumbotron */
.jumbotron {
    background-image: url(https://miro.medium.com/max/8000/1*JrHDbEdqGsVfnBYtxOitcw.jpeg);
    background-size: cover;
    height: 540px;   
    text-align: center;
    position: relative;

}

.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 100px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-size: 40px;
}

.jumbotron .display-4 span{
    font-weight: 500;
    
}

.jumbotron .lead{
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    color: white;
    margin-top: 25px;
    font-size: 16px;
    margin-bottom: 50px;
}

/* Info Zoom */

.info-zoom{
    background-color: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 200px;
    margin-top: -160px;
    height: 250px;
    width: 250px;
}

.info-zoom img{
    width: 200px;
    margin-top: 40px;
}

/* Materi */
.materi {
    margin: 20px;
    text-align: center;
}
.materi img{
    width: 450px;
    border-radius: 20px;
}

.materi h3{
    font-size: 52px;
    font-weight: 200;
    margin-top: 30px;
    
}


.materi p{
    margin: 30px 0 30px;
    font-weight: 200;
    color: #ACACAC;
    font-size: 16px;
}

.materibg{
    background-color: #f7f7f7 ; 
    padding: 5px;
    margin-top: 50px;
}

.info-panel img{

    width: 128px;

}
.info-panel{
    margin-top: 100px;
}

.info-panel h4{
    font-size: 32px;
    font-weight: 500;
}

.info-panel p{
    font-weight: 200;
    font-size: 16px;
    color: #ACACAC;
}

.contact {
    margin: 20px;
    text-align: center;
}

.contact img{

    width: 450px;
    border-radius: 20px;

}

.contact h3{
    font-size: 52px;
    font-weight: 500;
    margin-top: 30px;
    
}

.contact p{
    margin: 30px 0 30px;
    font-weight: 500;
    color: #ACACAC;
    font-size: 16px;
}

.contact p img{
    width: 32px;
}

.footer{
    margin: 30px 10px 30px;
}

.footer img{
    width: 24px;
}

.footer a{
    color: #ACACAC;
    font-style: italic;
}

.footer p{
    color: #ACACAC;
    font-style: italic;
}

.disapear{
    display: none;
}

.alert{
    display:none;
}

.tombol {
    border-radius: 40px;
    text-transform: uppercase;
}








/* Utility Desktop */
@media (min-width: 992px) { 
 /* Navbar */

    .navbar-brand, .nav-link{
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    
    .nav-link{
        text-transform: uppercase;
        margin-right: 40px;
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #42daf5;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron{
        margin-top: -75px;
        height: 640px;

    }

    .jumbotron .display-4{
        font-size: 62px;
        margin-top: 150px;
    }

    .jumbotron .lead{
        font-size: 24px;
    }

    .materi{
        text-align: left;
    }

    .contact{
        text-align: left;
    }

 }
